*{margin: 0; padding: 0; }

    html, body {
        height: 100%;
    }

    .container-fluid {
        height: 100%;
        /* overflow-y: hidden; */
        padding-left: 0px;
        /* padding-right: 0px; */
    }

    .row {
        height: 100%;
        /* overflow-y: hidden; */
    }

    .main-left>img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;
    }

    #hexagon {
        position: absolute;
        top: 2vw;
        width: 6vw;
        left: 2vw;
        -ms-transform: rotate(25deg); /* IE 9 */
        -webkit-transform: rotate(25deg); /* Safari 3-8 */
        transform: rotate(25deg);
    }

    .r-n-g {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .lognam {
        font-family: 'Italiana', serif;
        color: #ff7159b0;
        position: relative;
        font-size: 7vw;
        
        bottom: -8vw;
        font-weight: bold;
    }

    .you-care {
        font-family: 'Montserrat', sans-serif;
        color: #de0098;
        position: relative;
        top: 6vw;
        text-align: initial;
        padding-left: 48%;
        font-size: 1.3vw;
        font-style: italic;
    }

    .together {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 19vh;
        font-size: 1.7vw;
        left: 1.vw;
    }

    .together>button {
        background-color: white;
        font-weight: bold;
        border: none;
        padding-left: 2px;
        padding-right: 2px;      
    }

    .together>button>a{
        text-decoration: none;
        color: inherit;
    }

    #access-parent:hover .together {
        color: rgb(196, 192, 192);
    }

    #access-parent:hover .together>button>a {
        color: #0fc9c0;
    }

    .sign {
        position: relative;
        top: 30vh;
        height: auto;
    }

    .sign>div>button{
        background-color: white;
        border: 1.5px solid  #ff5a5a;
        padding-bottom: 7px;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .sign>div>button>a{
        text-decoration: none;
        color:#ff5a5a;
        padding-left: 10px;
        padding-right: 10px;   
    }

    #sign-in {
        margin-right: -2.5vh;
    }

    #sign-up-parent:hover #sign-up>a{
        color: #ff5a5a;
    }

    #sign-up-parent:hover #sign-up{
        background-color: white;
    }

    #sign-in-parent:hover #sign-in>a{
        color: white;
    }

    #sign-in-parent:hover #sign-in{
        background-color: #ff5a5a;
    }

    #sign-up {
        background-color: #ff5a5a;
        padding-right: 13px;
        padding-left: 14px;
        margin-left: -2.5vh;
    }

    #sign-up>a {
        color: white;
        /* font-size: 17px; */
    }

    .about-contact {
        position: relative;
        top: 31vh;
        font-family: 'Lobster', cursive;
        font-size: 1.5vw;
    }

    .about {
        position: relative;
        padding-bottom: 0px;
    }

    .about-contact>div>a {
        text-decoration: none;
        color: black;
    }

    .video {
        position: absolute;
        bottom: 22vh;
        left: 19%;
    }

    .video>button {
        /* background-color: rgb(255, 255, 255, 0); */
        background-color: #ffffff00;
        border: 2px solid white;
        line-height: 4vw;
        font-size: 2.7vw;
    }

    .video button {
        float: left;
    }

    .video::after {
        content: "";
        clear: both;
        display: table;
    }

    .video>button>a {
        text-decoration: none;
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 2.3vw;
    }

    #button-left {
        padding-left: 4vw;
        padding-right: 4vw;
        border-right: none;
    }

    #button-right>a>i {
        font-size: 3.5vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    .share {
        position: absolute;
        bottom: 9vh;
        left: 41%;
        font-family: 'Lobster', cursive;
    }

    .hr-left, .hr-right {
        height: 1px;
        width: 3vw;
        background-color: white;
        display: inline-block;
    }

    .hr-left {
        margin-right: 1vw;
        margin-bottom: 4px;
    }

    .hr-right {
        margin-left: 1vw;
        margin-bottom: 4px;
    }

    .share div:first-child {
        color: white;
    }

    .share>div>i {
        color: white;
        font-size: 2.2vh;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }

    .sign-form {
        position: relative;
        top: 25vh;
    }

    .sign-form img {
        width: 3.8vw;
    }

    .return {
        position: absolute;
        left: 16%;
    }

    .return>img {
        color: #ff5a5a;
    }

    .btn-return {
        border: none;
        background-color: white;
    }

    .title-main {
        position: absolute;
        font-size: 2vw;
        font-weight: bold;
        color: #ff5a5a;
        left: 40%;
    }

    .text {
        position: absolute;
        top: 7vh;
        left: 26%;
    }

    .text>div>label {
        margin-bottom: -8px;
    }

    .text>div>input {
        border: none;
        border-bottom: 1px solid black;
    }

    .accept {
        position: absolute;
        top: 21vh;
        left: 30%;
    }

    .accept>form>input[type='checkbox'] {
        cursor: pointer;
    }

    .launch {
        position: absolute;
        top: 22vh;
        left: 40%;
    }

    .launch-up {
        position: absolute;
        top: 26vh;
        left: 40%;
    }

    .launch>button {
        background-color: #ff5a5a;
        border: 1.5px solid  #ff5a5a;
        padding-bottom: 7px;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .launch-up>button {
        background-color: #ff5a5a;
        border: 1.5px solid  #ff5a5a;
        padding-bottom: 7px;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .launch>button>a {
        text-decoration: none;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .launch-up>button>a {
        text-decoration: none;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .forgot {
        position: absolute;
        top: 29vh;
        left: 39%;
        text-decoration: underline;
    }

    .wanna {
        position: absolute;
        top: 33vh;
        left: 38%;
        color: #8CC3E5;
    }

    .already {
        position: absolute;
        top: 33vh;
        left: 38%;
        color: #8CC3E5;
    }

    .under {
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
        .lognam {
            font-family: 'Italiana', serif;
            color: #ff7159b0;
            position: relative;
            font-size: 9vw;
            top: 9vh;
            font-weight: bold;
        }

        #hexagon {
            position: absolute;
            top: 2vw;
            width: 8vw;
            left: 2vw;
            -ms-transform: rotate(25deg); /* IE 9 */
            -webkit-transform: rotate(25deg); /* Safari 3-8 */
            transform: rotate(25deg);
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #de0098;
            position: relative;
            top: 4vh;
            text-align: initial;
            padding-left: 45%;
            font-size: 1.7vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 12vh;
            font-size: 1.7vw;
        }

        .video {
            position: absolute;
            bottom: 34vh;
            left: 18%;
        }

        .share {
            position: absolute;
            bottom: 19vh;
            left: 41%;
        }

        #sign-in {
            margin-right: -0.8vh;
        }

        #sign-up {
            margin-left: -0.8vh;
        }

        .sign-form {
            position: relative;
            top: 20vh;
        }
    
        .sign-form img {
            width: 3.8vw;
        }
    
        .return {
            position: absolute;
            left: 16%;
        }
    
        .title-main {
            position: absolute;
            font-size: 2vw;
            font-weight: bold;
            color: #ff5a5a;
            left: 40%;
        }
    
        .text {
            position: absolute;
            top: 5vh;
            left: 18%;
        }

        .accept {
            position: absolute;
            top: 17vh;
            left: 19%;
        }
        
        .launch {
            position: absolute;
            top: 20vh;
            left: 40%;
        }

        .launch-up {
            position: absolute;
            top: 22vh;
            left: 40%;
        }
    
        .forgot {
            position: absolute;
            top: 27vh;
            left: 39%;
            text-decoration: underline;
        }
    
        .wanna {
            position: absolute;
            top: 31vh;
            left: 38%;
            color: #8CC3E5;
        }

        .already {
            position: absolute;
            top: 28vh;
            left: 38%;
            color: #8CC3E5;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 576px) and (max-height: 1200px) {
        .main-left {
            padding-right: 0px;
            padding-left: 0px;
        }

        .lognam {
            font-family: 'Italiana', serif;
            color: #ff7159b0;
            position: relative;
            font-size: 15vw;
            top: -2vh;
            font-weight: bold;
        }

        #hexagon {
            position: absolute;
            top: 2vw;
            width: 8vw;
            left: 4vw;
            -ms-transform: rotate(25deg); /* IE 9 */
            -webkit-transform: rotate(25deg); /* Safari 3-8 */
            transform: rotate(25deg);
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #de0098;
            position: relative;
            top: -7vh;
            text-align: initial;
            padding-left: 47%;
            font-size: 2.9vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: -4vh;
            font-size: 2.5vw;
        }

        .sign {
            position: relative;
            top: 8vh;
            height: auto;
        }

        .about-contact {
            position: relative;
            top: 11vh;
            font-family: 'Lobster', cursive;
            font-size: 2.5vw;
        }

        .video {
            position: absolute;
            bottom: 34vh;
            left: 18%;
            display: none;
        }

        .share {
            position: absolute;
            bottom: 4vh;
            left: 44%;
        }

        #sign-in {
            margin-right: -0.8vh;
        }

        #sign-up {
            margin-left: -0.8vh;
        }

        .sign-form {
            position: relative;
            top: -2vh;
        }
    
        .sign-form img {
            width: 5vw;
        }
    
        .return {
            position: absolute;
            left: 30%;
        }
    
        .title-main {
            position: absolute;
            font-size: 3.3vw;
            font-weight: bold;
            color: #ff5a5a;
            left: 48%;
        }
    
        .text {
            position: absolute;
            top: 5vh;
            left: 37%;
        }

        .accept {
            position: absolute;
            top: 16vh;
            left: 37%;
        }
        
        .launch {
            position: absolute;
            top: 17vh;
            left: 46%;
        }

        .launch>button>a {
            text-decoration: none;
            color: white;
            font-size: 2vw;
            padding-left: 10px;
            padding-right: 10px;
        }

        .launch-up {
            position: absolute;
            top: 22vh;
            left: 46%;
        }

        .launch-up>button>a {
            text-decoration: none;
            color: white;
            font-size: 2vw;
            padding-left: 10px;
            padding-right: 10px;
        }

        .launch>button {
            background-color: #ff5a5a;
            border: 1.5px solid  #ff5a5a;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .forgot {
            position: absolute;
            top: 22vh;
            left: 45%;
            text-decoration: underline;
        }
    
        .wanna {
            position: absolute;
            top: 26vh;
            left: 43%;
            color: #8CC3E5;
        }

        .already {
            position: absolute;
            top: 28.5vh;
            left: 45%;
            color: #8CC3E5;
        }
    }

    
    @media only screen and (max-width: 576px) {
        .main-left {
            padding-right: 0px;
            padding-left: 0px;
        }

        .lognam {
            font-family: 'Italiana', serif;
            color: #ff7159b0;
            position: relative;
            font-size: 20vw;
            top: 0vh;
            font-weight: bold;
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #de0098;
            position: relative;
            top: -3.6vh;
            text-align: initial;
            padding-left: 45%;
            font-size: 3.8vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 0vh;
            font-size: 3.5vw;
        }

        .sign {
            position: relative;
            top: 13vh;
            height: auto;
        }

        .about-contact {
            position: relative;
            top: 20vh;
            font-family: 'Lobster', cursive;
            font-size: 4.5vw;
        }

        .video {
            position: absolute;
            bottom: 34vh;
            left: 18%;
            display: none;
        }

        .share {
            position: absolute;
            bottom: 4vh;
            left: 38%;
        }

        #sign-in {
            margin-right: -0.8vh;
        }

        #sign-up {
            margin-left: -0.8vh;
        }

        .sign-form {
            position: relative;
            top: 1vh;
        }
    
        .sign-form img {
            width: 8vw;
        }
    
        .return {
            position: absolute;
            left: 20%;
        }
    
        .title-main {
            position: absolute;
            font-size: 4.3vw;
            font-weight: bold;
            color: #ff5a5a;
            left: 40%;
        }
    
        .text {
            position: absolute;
            top: 5vh;
            left: 28%;
        }

        .accept {
            position: absolute;
            top: 14.5vh;
            left: 30%;
        }
        
        .launch {
            position: absolute;
            top: 16vh;
            left: 40%;
        }

        .launch>button>a {
            text-decoration: none;
            color: white;
            font-size: 2.4vw;
            padding-left: 10px;
            padding-right: 10px;
        }

        .launch-up {
            position: absolute;
            top: 19vh;
            left: 40%;
        }

        .launch-up>button>a {
            text-decoration: none;
            color: white;
            font-size: 2.4vw;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .forgot {
            position: absolute;
            top: 22vh;
            left: 40%;
            text-decoration: underline;
        }
    
        .wanna {
            position: absolute;
            top: 26vh;
            left: 38%;
            color: #8CC3E5;
        }

        .already {
            position: absolute;
            top: 24vh;
            left: 39%;
            color: #8CC3E5;
        }
    }

    @media only screen and (min-height: 1200px) {
        .main-left {
            padding-right: 0px;
            padding-left: 0px;
        }

        .lognam {
            font-family: 'Italiana', serif;
            color: #ff7159b0;
            position: relative;
            font-size: 11vw;
            top: 5vh;
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #de0098;
            position: relative;
            top: 2vh;
            text-align: initial;
            padding-left: 47%;
            padding-left: 54%;
            font-size: 2.4vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 5vh;
            left: 1.5vw;
            font-size: 2.5vw;
        }

        .sign {
            position: relative;
            top: 15vh;
            height: auto;
        }

        .about-contact {
            position: relative;
            top: 19vh;
            font-family: 'Lobster', cursive;
            font-size: 2.5vw;
        }

        .video {
            position: absolute;
            bottom: 34vh;
            left: 18%;
            display: none;
        }

        .share {
            position: absolute;
            bottom: 4vh;
            left: 44%;
        }

        .main-left>img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0px;
        }
    }

    .display-none {
        display: none;
    }