*{margin: 0; padding: 0; }

    html, body {
        height: 100%;
    }

    .container-fluid {
        height: 100%;
        overflow-y: hidden; /* don't show content that exceeds my height */
        padding-left: 0px;
        /* padding-right: 0px; */
    }

    .row {
        height: 100%;
        overflow-y: hidden;
    }

    .main-left>img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;
    }

    /* .main-left>img::after {
        background: linear-gradient(to right, rgba(57,194,218,0),rgba(57,194,218,1) 35%,rgba(57,194,218,0));
    } */

    /* .main-left {
        position: fixed;
        bottom: 0;
    } */

    .main-right {

    }

    .r-n-g {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .lognam {
        font-family: 'Italiana', serif;
        color: #FB5758;
        position: relative;
        font-size: 10vw;
        top: 9vh;
    }

    .you-care {
        font-family: 'Montserrat', sans-serif;
        color: #FB5758;
        position: relative;
        top: 3vh;
        text-align: initial;
        padding-left: 45%;
        font-size: 1.9vw;
    }

    .together {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 11vh;
        font-size: 1.9vw;
    }

    .together>button {
        background-color: white;
        font-weight: bold;
        border: none;
        padding-left: 2px;
        padding-right: 2px;
        
    }

    .together>button>a{
        text-decoration: none;
        color: inherit;
    }

    .sign {
        position: relative;
        top: 30vh;
        height: auto;
    }

    .sign>div>button{
        background-color: white;
        border: 1.5px solid  #FB5758;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .sign>div>button>a{
        text-decoration: none;
        color:#FB5758;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .about-contact {
        position: relative;
        top: 34vh;
        font-family: 'Lobster', cursive;
        font-size: 2vw;
    }

    .about {
        position: relative;
        padding-bottom: 10px;
    }

    .about-contact>div>a {
        text-decoration: none;
        color: black;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
        .lognam {
            font-family: 'Italiana', serif;
            color: #FB5758;
            position: relative;
            font-size: 9vw;
            top: 9vh;
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #FB5758;
            position: relative;
            top: 4vh;
            text-align: initial;
            padding-left: 45%;
            font-size: 1.7vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 12vh;
            font-size: 1.7vw;
        }
    }

    @media only screen and (max-width: 992px) and (min-width: 576px) {
        .main-left {
            padding-right: 0px;
            padding-left: 0px;
        }

        .lognam {
            font-family: 'Italiana', serif;
            color: #FB5758;
            position: relative;
            font-size: 15vw;
            top: 5vh;
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #FB5758;
            position: relative;
            top: 0vh;
            text-align: initial;
            padding-left: 47%;
            font-size: 2.9vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 5vh;
            font-size: 2.5vw;
        }

        .sign {
            position: relative;
            top: 15vh;
            height: auto;
        }

        .about-contact {
            position: relative;
            top: 20vh;
            font-family: 'Lobster', cursive;
            font-size: 2.5vw;
        }
    }

    @media only screen and (max-width: 576px) {
        .main-left {
            padding-right: 0px;
            padding-left: 0px;
        }

        .lognam {
            font-family: 'Italiana', serif;
            color: #FB5758;
            position: relative;
            font-size: 20vw;
            top: 5vh;
        }

        .you-care {
            font-family: 'Montserrat', sans-serif;
            color: #FB5758;
            position: relative;
            top: 1.9vh;
            text-align: initial;
            padding-left: 45%;
            font-size: 3.8vw;
        }

        .together {
            font-family: 'Montserrat', sans-serif;
            position: relative;
            top: 5vh;
            font-size: 3.5vw;
        }

        .sign {
            position: relative;
            top: 13vh;
            height: auto;
        }

        .about-contact {
            position: relative;
            top: 20vh;
            font-family: 'Lobster', cursive;
            font-size: 4.5vw;
        }
    }